<ion-header>

    <ion-navbar>
        <ion-title *ngIf="LeadType == 'My'">Digital Enquiry</ion-title>
        <ion-title *ngIf="LeadType != 'My'">Team's Digital Enquiry</ion-title>
        <ion-buttons end *ngIf="teamCount > 0">
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar color="white">
        <div class=" mb10">
            <ion-segment [(ngModel)]="activeTab">
                <ion-segment-button value="Qualified" (click)="getEnquiryData()">
                    Qualified ({{enquiryList.qualified_count}})
                </ion-segment-button>
                <ion-segment-button value="Inprocess" (click)="getEnquiryData()">
                    Inprocess ({{enquiryList.inprocess_count}})
                </ion-segment-button>
                <ion-segment-button value="Win" (click)="getEnquiryData()">
                    Win ({{enquiryList.win_count}})
                </ion-segment-button>
                <ion-segment-button value="Lost" (click)="getEnquiryData()">
                    Lost ({{enquiryList.lost_count}})
                </ion-segment-button>
            </ion-segment>
        </div>

        
    </ion-toolbar>
    <!-- <ion-toolbar> 
        <div class="search add-search">
            <div class="filter pb10">
                <ion-searchbar (keyup)="getEnquiryData(drid)" [(ngModel)]="filter.name" name="name">
                </ion-searchbar>
            </div>
        </div>  
    </ion-toolbar> -->
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ng-container>
        <div class="edit flat" *ngIf="LeadType=='Team'">
          <ion-list>
            <ng-container>
              <ion-item class="cs-normal-select retailerSelectionBox mt0 mb0">
                <ion-label>Select Team Member</ion-label>
                <ionic-selectable item-content name="data" [(ngModel)]="selectData.team" [items]="user_list"
                  itemValueField="id" itemTextField="name" [canSearch]="true" #selectComponent
                  (ngModelChange)="getEnquiryData()"></ionic-selectable>
              </ion-item>
            </ng-container>
          </ion-list>
        </div>
      </ng-container>

    <div class="pd-left-right16 mt16 mb100">
        <ng-container *ngFor="let data of dr_list">
            <div class="attendance-list" (click)="lead_detail(data.id)">
                <div class="slab slab-bg">

                    <div class="slab-day">
                        <p>{{data.date_created | date:'d MMM y'}}</p>
                        <span>Date Created</span>
                    </div>
                    <div class="slab-day">
                        <p>{{data.influencer_type}}</p>
                        <span>Enq. Type</span>
                    </div>
                    <div class="slab-day">
                        <p>{{data.enquiry_id}}</p>
                        <span>Enq. Id</span>
                    </div>
                    <div class="slab-day" *ngIf="data.stage_level == 'Qualified' &&teamCount > 0 ">
                        <button class="editButton" style="background-color: #7aa9ff;" ion-button icon-start
                            color="success" (click)="AssignUser($event,data.id)"><i class="material-icons">
                                edit_note
                            </i></button>
                    </div>
                </div>
                <div class="center-block">
                    <div class="circle">{{data.name.substring(0,1).toUpperCase()}}</div>
                    <h1 class="f12">{{data.name | titlecase}}</h1>
                    <p>{{data.mobile}}</p>
                    <a class="cell-phone" href="tel:{{data.mobile}}"><i class="material-icons">phone</i></a>
                </div>
                <div class="other-block pb0">
                    <p><strong>Assigned To :</strong>
                        {{data.assigned_to_user_name}} 
                    </p>
                </div>
                <div class="other-block pb0" *ngIf="data.state  || data.district  || data.city  || data.area">
                    <p><strong>Address :</strong>
                        {{data.address}} {{data.area}} {{data.district}} {{data.state}}
                    </p>
                </div>
                <div class="next-forword">
                    <i class="material-icons">chevron_right</i>
                </div>
            </div>
        </ng-container>
    </div>


    <div class="nothing-here" *ngIf="load_data == 1">

        <div class="outer">
            <div class="innear">
                <img src="assets/imgs/no_found.svg" alt="">
                <p>Data Not Available</p>
            </div>
        </div>
    </div>
    <!-- <ion-fab right bottom>
        <button ion-fab color="primary" (click)="addLead()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab> -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="flag!=1">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading more data...'}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>