page-loyalty-faq {
    .qr_ty {
        display: flex;
    }
    .counter {
        padding-right: 10px;
    }
    .faq_hd h5 {
        font-size: 17px;
        line-height: 20px;
    }
    .faq_prt p {
        font-size: 14px;
        line-height: 17px;
        padding-top: 6px;
    }
    
    
    
    
}
