page-add-site {
    .contactDetailsBoxWrapper {
        max-height: 200px;
        overflow-y: auto;
        border: 1px solid #bbb;
        margin: 10px 0;
        border-radius: 4px;
    }

    .contactDetailsBox {
        margin: 5px;
        padding: 2px;
        background-color: white;
        border-radius: 4px;
        border: 1px solid #bbb;
    }

    .contactDetailsBox p {
        background-color: #e2ecff;
        padding: 3px;
        border-radius: 3px;
        text-transform: capitalize;
        font-size: 12px;
    }

    .contactDetailsBox span.contactType {
        font-size: 10px;
        font-weight: bold;
        padding: 0 3px;
        border-radius: 3px;
        color: #999;
    }

    .removeContact {
        color: red;
        background: white;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 20px;
        }


    }

    .upperTab {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .add_image {
        width: 100%;
        text-align: center;
        background-color: #f9f9fb;
        padding: 10px;
        border-radius: 10px;
        margin-top: 16px;
        box-shadow: 4px 3px 10px 0px #f9f9f9;
        border: 1px dashed rgb(182, 182, 245);
        font-size: 10px;

        img {
            width: 30px !important;
            display: block;
            margin: auto;
        }

    }

    .heading {
        background-color: rgb(224, 224, 255);
        border-radius: 6px;
        padding: 4px;
        margin: 16px 0px;

        h1 {
            font-size: 16px;
            font-weight: 'bold';
        }
    }

    table {
        width: 100%;
        box-sizing: border-box;
        table-layout: fixed;
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid #bcbcbc;

            th,
            td {
                padding: 10px 5px;
                font-size: 12px;
                border: 1px solid #ccc;


                i {
                    font-size: 18px;
                }
            }

            th {
                vertical-align: top;
                text-align: left;
                background: #f8f8f8;
                color: #000000;
            }

            td {
                padding-left: 10px;
                line-height: 20px;

                a {
                    text-transform: capitalize;
                    float: right;
                }

                p {
                    font-size: 13px;
                    line-height: 20px;
                }
            }

            &:last-child {
                border-bottom: 0px;
            }
        }
    }
}