page-spare {
    .main{

        margin-bottom: 16px;
        // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
    }

    .part1{
        display: flex;
        display: grid;
        grid-template-columns: 30px  1fr;
        align-items: center;
        min-height: 50px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
        padding: 10px 18px;
        border-radius: 11px;
        background: #ffffff;
        border-left: 6px solid #000000;
        grid-column-gap: 10px;
    }

    span{text-transform: capitalize;}
    .circle{

        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #353535;
        background: #dadada;
        border-radius: 100%;
        font-size: 15px;
        font-weight: bold;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
        border: 2px solid #fff;
    }

    .padding16{
        padding: 16px;
    }

}
