page-secondary-order-add {
    .Buttons{
        display:flex;
        width:45%;
        background-color:#0b9900;
        
    }

    .retailerSelectionBox{
        .ionic-selectable-value{
            padding-top: 8px !important;
        }
        .ionic-selectable-icon{
            margin-top: -5px;
        }
        ionic-selectable{
            max-width: 70% !important;
            font-size: 14px !important;
        }
    }
    .list-box{
        border: 1px solid #ddd;
        // box-shadow: 8px 8px 4px 0 #f1f1f1 !important;
        padding: 6px;
        .seeDetailsBox{
            content: 'See Details';
            position: absolute;
            top: 4px;
            right: 0px;
            z-index: 1;
            color: rgb(164, 164, 164);
            font-size: 9px;
            background: #f2f7ff;
            padding: 2px;
            border-bottom-left-radius: 6px;
            border-top-left-radius: 6px;
        }
        .upper{
            padding-top: 8px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background-color: #f2f5f9;
            border-bottom: 1px dashed #ccc !important;
            margin: 0;
        }
    }
    .add_image {
        width: 100%;
        text-align: center;
        background-color: #f9f9fb;
        padding: 10px;
        border-radius: 10px;
        margin-top: 16px;
        box-shadow: 4px 3px 10px 0px #f9f9f9;
        border: 1px dashed rgb(182, 182, 245);
        font-size: 10px;

        img {
            width: 30px !important;
            display: block;
            margin: auto;
        }
    }
    .edit {
        margin: 0px;
        border: 0px !important;
        border-radius: 6px;
        padding: 10px;
    }

    .edit-value{
        position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    }

    .cart-bottom {
        display: flex;
        align-items: center;
        grid-column-gap: 10px;
        margin-top: 10px;
    
    input {
        width: 100%;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 4px;
        text-align: center;
        font-size: 14px;
    }

    button{
        border-radius: 6px !important;
        height: 30px;
        padding: 0px;
        width: 40px;
        min-width: 40px;



        i{
            font-size: 16px;
        }
    }
}
.gst-type {
    display: flex;
    align-items: center;
    flex: 1;
}

.gst-type ion-item {
    flex: 1;
    text-align: center;
}

    
   
}
