page-target {
    
    .back-button {
        display: block !important;
    }
    
    ion-card {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-radius: 8px !important;
        
    }
    // .position{
       
    //         font-size: 20px;
    //         display: flex;
    //         grid-column-gap: 8px;
    //         padding-right: 0 !important;
    //         position: absolute;
    //         right: 35px;
    //         transform: translateY(-50%);
    //          z-index: 99;
    //         padding: 4px;
            
    //         border-radius: 22px;
           
        
    //         span {
    //             color: #494947;
    //             font-weight: 600;
    //         }
        
    //         i {
    //             color: green;
    //             font-size: 20px;
    //             line-height: 20px;
    //             font-weight: 600;
    //         }
        
        
       
    // }
    
    .position {
        font-size: 20px;
        display: flex;
        grid-column-gap: 8px;
        padding-right: 0 !important;
        position: absolute;
        right: -6px;
        bottom: 100px;
        
        z-index: 99;
        padding: 4px;
        border-radius: 22px;
        background-color: #4CAF50; /* Green background color */
        color: white; /* White text color */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
    
        span {
            font-weight: 600;
        }
    
        i {
            font-size: 20px;
            line-height: 20px;
            font-weight: 600;
        }
    }
    
    /* Hover effect for better interactivity */
    .position:hover {
        background-color: #45a049; /* Darker green on hover */
        cursor: pointer;
    }
    
    .count-tab {
        background-color: #ddd;
        padding: 3px;
        border-radius: 3px;
        font-weight: bold;
        color: black;
    }
    
    .status-tab {
        background-color: rgb(99, 190, 99);
        border-radius: 6px;
        height: 20px;
        color: #000;
        margin-left: -40px;
        text-align: center;
        line-height: 1.8;
    }
    
    .achievement {
        background-color: rgb(99, 190, 99);
        color: white;
    }
    
    .capsule-tabsnew {
        position: sticky;
        top: 0px;
        left: 0px;
        z-index: 2;
        
        ul {
            display: flex;
            overflow: auto;
            
            li {
                background: #616161;
                display: flex;
                align-items: center;
                width: 100%;
                padding: 8px 4px;
                white-space: nowrap;
                justify-content: center;
                border-right: 1px solid #fff;
                font-size: 12px;
                color: #ffffff;
                
                &:last-child {
                    border-right: 0px;
                }
                
                &.active {
                    background: #ffffff;
                    border-bottom: 2.5px solid #616161;
                    font-weight: 600;
                    color: #000000;
                    
                    p {
                        color: #000000;
                        
                        span {
                            background: #64104b;
                            color: #ffffff;
                        }
                    }
                }
            }
            
            &:after,
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 100%;
                width: 10px;
                z-index: 1;
            }
            
            &:after {
                left: -10px;
                box-shadow: 6px 4px 14px -5px rgba(255, 255, 255, 0.9);
            }
            
            &:before {
                right: -10px;
                box-shadow: 6px -4px 14px 5px rgba(255, 255, 255, 0.9);
            }
        }
    }
    
    .checkin-table {
        border-top: 1px dashed #55a9e4;
        border-radius: 8px;
        overflow: hidden;
        margin-top: 16px;
        background: #fdfdfd;
        
        .checkin-day {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ccc;
            
            .visits {
                width: 100%;
                text-align: center;
                padding: 5px;
                border-right: 1px solid #ccc;
                
                span {
                    font-size: 12px;
                    color: #a0a0a0;
                    font-weight: 600;
                }
                
                p {
                    font-size: 13px;
                    line-height: 20px;
                }
                
                &:last-child {
                    border-right: 0px;
                }
            }
        }
        
        table {
            width: 100%;
            table-layout: fixed;
            box-sizing: border-box;
            border-collapse: collapse;
            
            tr {
                border-bottom: 1px solid #ccc;
                
                td {
                    padding: 5px;
                    font-size: 12px;
                    font-weight: 600;
                    
                    i {
                        font-size: 20px;
                        line-height: 20px;
                    }
                    
                    p {
                        font-size: 12px;
                        font-weight: 600;
                        
                        span {
                            width: 20px;
                            height: 20px;
                            color: #ff0000;
                            background: #fff;
                            border-radius: 4px;
                            text-align: center;
                            line-height: 20px;
                            display: inline-block;
                            margin-left: 10px !important;
                        }
                    }
                    
                    &:last-child {
                        text-align: right;
                    }
                    
                    
                }
                
                &.new {
                    td {
                        background: #f8e152;
                        color: #fff;
                    }
                }
                
                &.primary-odr {
                    td {
                        background: #e0489f;
                        color: #fff;
                    }
                }
                
                &.sec-odr {
                    td {
                        background: #8478fe;
                        color: #fff;
                    }
                }
                
                &:last-child {
                    border-bottom: 0px;
                }
                
            }
        }
    }
    
    
    .middle-button {
        border: 2px solid #55a9e4;
        display: flex;
        border-radius: 8px;
        align-items: center;
        height: 30px;
        margin-top: 10px;
        
        span {
            width: 100%;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: #292828;
            opacity: 0.8;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &.active {
                background-color: #55a9e4;
                font-weight: 600;
                color: #000000;
                height: 100%;
                // height: 40px;
                
            }
        }
        
    }
    
    #barChartBox{
        width: calc(100% + 20px);
        margin-top: -25px;
        .zc-top{
            top: 25px !important;
            left: -30px !important;
        }
    }
    
    .ion-tab-btn{
        ion-segment{
            display: flex;
            overflow: auto;
        }
        h2{
            font-size: 18px;
            font-weight: 600;
        }
    }
    
    .projectContainer{
        background-color: #fff9cf;
        border-radius: 12px 0px 0px 0px;
        margin: 8px 0px 0px 8px;

    }
    .projectContainer2{
        background-color: #fff9cf;
        border-radius: 0px 0px 0px 12px;
        margin: 0px 0px 8px 8px;
    }
    .secondaryTargetSummery {
       
        .summary-heading {
            margin: 16px 0px;
            font-size: 16px;
            font-weight: 600;
        }
    
    
        ion-list {
            display: grid;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) ;
            grid-column-gap: 4px;
            grid-row-gap: 16px;
            
            ion-item{
             display: flex;
             flex-direction: column;
             border: 0.5px solid rgb(180, 180, 180);
             border-radius: 12px;
            h2 {
                font-weight: 500;
            }
    
            h6 {
                text-align: center;
                white-space: wrap;
                line-height: 18px;
                font-size: 14px;
                font-weight: 500;
                span.left-count {
                    font-weight: 600;
    
                    &.status-pending {
                        padding: 4px;
                        font-size: 13px;
                        border-radius: 4px;
                        background: #FFF9C4;
                    }
    
                    &.status-complete {
                        padding: 4px;
                        font-size: 13px;
                        border-radius: 4px;
                        background: #e7ffbd;
                    }
                }
            }
    
            ion-avatar {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
    
                span {
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }

        }
    
        &.flat {
            ion-list {
                border: 0px;
    
                ion-item {
                    border-width: 1px !important;
                    border-bottom: 1px solid #ccc;
    
                    &:last-child {
                        border-bottom: 0px;
                    }
                }
    
                ion-avatar {
                    min-width: 50px;
                    min-height: 50px;
                    color: #000;
                    border: 2px solid;
                }
            }
        }
    } 
    .ion-tab-btn {
        padding: 0px !important; 
        position: relative;
        z-index: 2;
    }
    .slab {
        display: flex;
        margin-top: 10px;
        grid-column-gap: 15px;
        justify-content: space-between;
        background-color: #80808026;
        padding: 6px;
        border-radius: 6px;
    }
    .center-block {
        position: relative;
        padding: 0px 40px 0px 40px;
        margin-top: 0px; 
    }
    .other-block {
        padding: 10px 0px 0px 0px;
    }
}