page-contractor-meet-add {
    .editEventForm{
        textarea, ion-input, .item-inner, ion-datetime{
            border-radius: 5px;
        }
        
    }
    a {
        &.date-picker {
    
            label {
                position: relative;
                // overflow: hidden;
                color: #000;
                display: flex;
    
                input {
                    font-size: 14px;
                    border: 1px solid #d2d2d2;
                    width: 100% !important;
                    border-radius: 4px;
                    height: 40px;
                    padding: 4px;
                    margin-top: 16px !important;
                }
    
                i {
                    color: #242424;
                    font-size: 17px;
                }
            }
        }
    }
}
