page-secondary-order-detail {
    .lower{
        p:nth-child(2){
            font-size: 9px !important;
            font-weight: normal !important;
        }
    }
    .exportPdfBtn{ 
        border: 1px solid #ccc8c8;
        border-radius: 4px;
        padding: 4px !important;
        background: #e2ecff;
        img{
            max-width: 17px;
            border: 0;
            margin-right: 5px;
        }
    }
    .DetailTable{
        max-height: 150px;
        // display: flex;
        // flex-wrap: wrap;
        flex-wrap: wrap;
        overflow-x: hidden;
        overflow-y: auto;
        table{
            tr{
                // align-items: center;
                border-bottom: 1px solid #a7a6a6;
                // justify-content: center;
                td{
                    border-right: 1px solid #a7a6a6;
                    font-size: 11px;
                    padding: 4px;
                }
            }
        }
    }
    .exportPdfBtn{ 
        border: 1px solid #ccc8c8;
        border-radius: 4px;
        padding: 4px !important;
        background: #e2ecff;
        img{
            max-width: 17px;
            border: 0;
            margin-right: 5px;
        }
    }
    .DetailTable2{
        // max-height: 150px;
        border: 1px solid #a7a6a6;
        table{
            tr{
                // align-items: center;
                border-bottom: 1px solid #a7a6a6;
                justify-content: space-between;
                td{
                    // border-right: 1px solid #a7a6a6;
                    font-size: 11px;
                    padding: 6px;
                }
            }
        }
    }
    .ItemInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .Info {
            display: flex;
            flex-direction: row;
            p{
                font-size: 9px !important;
               font-weight: 400;
               color: rgb(69, 69, 69);
               padding-right: 4px;
               line-height: normal !important;
                span{
                    font-size: 12px;
                    font-weight: bold;
                    padding-right: 4px;
                }
            }
        }
    }
     .Distributor_info{
        border-top: 1px dashed #B2B2B2;
        padding: 0px;
        margin-left: -6px;
        margin-right: -6px;
        margin-top: 16px;

        .Dist_name{
            margin-top: 4px;
            border-radius: 2px;
            background:linear-gradient(180deg, #66838d, #0273e4);
            width: 70%;
            padding: 4px;
            position: relative;
            right:-48px;
            top:-16px;
               p{
                color: #fffdfb;
                text-align: center;
                font-size: 12px;
                font-weight: 500;
               }
        }
        .header{
            // background-color:#e2e2e2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // margin-top: -4px;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            // padding: 6px;
             .sub-head{
                border: solid 1.5px #006eff;
                padding: 4px 0;
                width:100%;
                margin:2px;
                border-radius: 4px;
                p{
                    font-size: 10px;
                }
             }
             .sub-head:last-child{
                border: solid 1.5px #006eff;
                padding: 4px;
                width:100%;
                margin:2px;
                border-radius: 4px;
                p{
                    font-size: 10px;
                }
             }
         }
     }


     .remarkSent{
        width: 100%;
        font-size: 10px;
        text-align: right;
        border-bottom: 1px solid #f0f0f0;
        padding: 5px 16px;

        .remarkMsg{
            font-size: 12px;
            line-height: 20px;
            color: #000;
        }

        .dateCreated span {
            font-size: 11px;
            color: #0e0e0e;
            margin: 5px 0px !important;
            display: inline-block;
            font-weight: 600;
        }

        &:last-child{
            border-bottom: 0px;
        }

        &:nth-child(odd){
            background: #f8f8f8;
        }
    }


    .slab{
        justify-content: space-between;
    }




    .footer-input-block {
        display: flex;
        align-items: center;
        grid-column-gap: 10px;
        padding: 10px;
        background: #fafafa;
        position: sticky;
        bottom: 0;


        input, textarea{
            width: 100%;
            height: 45px;
            padding: 5px;
            line-height: 20px;
            box-shadow: 0px 3px 6px 0px rgba(0, 0,0, 0.1);
            border: 1px solid #ececec;
            border-radius: 8px;
        }

        button{
            min-width: 42px;
            width: 42px;
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            height: 42px;

            ion-icon{
                padding-right: 0px !important;
            }
        }
    }
}
