page-privacy-policy {
    .d-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
.privacyPolicyImg{
    height: 120px;
}

.privacyPolicyHeader{
    font-size: 24px;
}
}
