page-lms-lead-detail {

    .buttonContainer {
        flex-direction: row;
        display: flex;
        grid-column-gap: 8px;
        margin-top: 8px
    }

    .remarkSent {
        width: 100%;
        font-size: 10px;
        text-align: right;
        border-bottom: 1px solid #f0f0f0;
        padding: 5px 16px;

        .remarkMsg {
            font-size: 12px;
            line-height: 20px;
            color: #000;
        }

        .dateCreated span {
            font-size: 11px;
            color: #0e0e0e;
            margin: 5px 0px !important;
            display: inline-block;
            font-weight: 600;
        }

        &:last-child {
            border-bottom: 0px;
        }

        &:nth-child(odd) {
            background: #f8f8f8;
        }
    }


    .slab {
        justify-content: space-between;
    }




    .footer-input-block {
        display: flex;
        align-items: center;
        grid-column-gap: 10px;
        padding: 10px;
        background: #fafafa;


        input,
        textarea {
            width: 100%;
            height: 45px;
            padding: 5px;
            line-height: 20px;
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid #ececec;
            border-radius: 8px;
        }

        button {
            min-width: 42px;
            width: 42px;
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            height: 42px;

            ion-icon {
                padding-right: 0px !important;
            }
        }
    }

    ion-header {
        ion-navbar {}

        &:after {
            display: none !important;
        }
    }

    .d-flex {
        display: flex;

        div {
            flex: 1;

            &:last-child {
                padding: 0px 10px 0px 10px;
            }
        }
    }

    .justify-content {
        justify-content: space-between;
    }

    .divider {
        border-left: 1px solid #bbb;
    }


    .editButton {
        // background: ;
        padding: 8px;
        border-radius: 60%;
        border: 1px solid #ddd;

        i.material-icons {
            font-size: 18px;
        }
    }

    .multipleProducts {
        display: flex;
        justify-content: space-between;
        border: 1px solid #aabdff;
        padding: 4px;
        margin-bottom: 12px;
        border-radius: 5px;
        box-shadow: 0px 1px 5px 1px #d3d3ff;
    }

    .visitAlert {
        border: 1px solid #da0202;
        padding: 4px;
        border-radius: 5px;
        text-align: center;
        background-color: #ffdede;

        h2 {
            font-weight: 'bold';
            font-size: 14px;
            color: #dd0202;
        }
    }

    .influencer-tabel {
        table {
            width: 100%;
            box-sizing: border-box;
            table-layout: fixed;
            border-collapse: collapse;

            tr {
                border-bottom: 1px solid #bcbcbc;

                th,
                td {
                    padding: 10px 5px;
                    font-size: 12px;
                    border: 1px solid #ccc;


                    i {
                        font-size: 18px;
                    }
                }

                th {
                    vertical-align: top;
                    text-align: left;
                    background: #f8f8f8;
                    color: #000000;
                }

                td {
                    padding-left: 10px;
                    line-height: 20px;

                    a {
                        text-transform: capitalize;
                        float: right;
                    }

                    p {
                        font-size: 13px;
                        line-height: 20px;
                    }
                }

                &:last-child {
                    border-bottom: 0px;
                }
            }
        }
    }
}