page-transfer-points-wallet {
    .my-wallet
    {
        padding: 6px 16px;
        
        .pts-icon
        {
            i
            {
                width: 28px;
                height: 28px;
                min-width: 28px;
            }
        }
    }
}
