page-pop-gift-list {

    .list-box{
        border: 1px solid #ddd;
        box-shadow: 8px 8px 4px 0 #f1f1f1 !important;
        padding-top: 0;
        .seeDetailsBox{
            content: 'See Details';
            position: absolute;
            top: 4px;
            right: 0px;
            z-index: 1;
            color: rgb(164, 164, 164);
            font-size: 9px;
            background: #f2f7ff;
            padding: 2px;
            border-bottom-left-radius: 6px;
            border-top-left-radius: 6px;
        }
        .upper{
            padding-top: 8px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background-color: #f2f5f9;
            border-bottom: 1px dashed #ccc !important;
            margin: 0;
        }
    }
    
    
    .countMainContainer {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-column-gap: 8px;
        margin-left: 8px;
        margin-right: 8px;
        .Buttons:nth-child(1) {
            display: flex;
            width: 45%;
            background-color: #3855ac;
            border-radius: 6px;
    
        }
        .Buttons:nth-child(2) {
            display: flex;
            width: 45%;
            background-color:#ca8b0d ;
            border-radius: 6px;
    
        }

    }
   
}
