page-dr-gift-gallery-listing {
    .listing {
        margin: 32px 0px;
        padding: 0px 16px;
        
        button {
            margin-bottom: 16px;
            border-radius: 6px;
            background: #fff;
            box-shadow: 0px 3px 6px 0px #ccc;
            display: flex;
            padding-right: 16px !important;
            padding-left: 0px;
            
            
            .item-inner {
                padding-right: 0px !important;
                border-bottom: 0px !important;
                
                .input-wrapper {
                    ion-label {
                        margin: 0px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row-reverse;
                    }
                }
            }
            
            .head-detail {
                display: flex;
                align-items: center;
                width: calc(100% - 50px);
                
                .head {
                    padding: 10px 5px;
                    text-align: center;
                    position: relative;
                    min-width: 80px;
                    background: #fff;
                    
                    h1 {
                        font-size: 12px;
                        font-weight: 600;
                        color: #ccc;
                    }
                    
                    p {
                        font-size: 12px;
                        color: #747474;
                    }
                    
                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        height: 50px;
                        border: 1px solid #DEDEDE;
                    }
                }
                
                .detail {
                    margin-left: 10px;
                    width: 100%;
                    overflow: hidden;
                    
                    h1 {
                        font-size: 13px;
                        margin-top: 0px !important;
                        font-weight: 600;
                        color: #ccc;
                        margin-bottom: 2px !important;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        text-align: left;
                    }
                    
                    p {
                        font-size: 11px;
                        color: #747474;
                        margin-bottom: 0px !important;
                        text-align: left;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-top: 1px !important;
                        
                        span {
                            font-size: 11px;
                            font-weight: 600;
                        }
                    }
                }
            }
            
            &.verified {
                .head-detail {
                    .head {
                        background: green;
                        
                        h1 {
                            color: #fff;
                        }
                        
                        p {
                            color: #fff;
                        }
                    }
                }
            }
            
            .product-img {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                img {
                    width: 100%;
                }
            }
            
            &:nth-child(1n+1) {
                border-left: 5px solid #F5E100 !important;
            }
            
            &:nth-child(2n+2) {
                border-left: 5px solid #FA3606 !important;
            }
            
            &:nth-child(3n+3) {
                border-left: 5px solid #F564FF !important;
            }
            
            &:nth-child(4n+4) {
                border-left: 5px solid #625DD4 !important;
            }
        }
        
    }
    .validity_date {
        font-weight: 500;
    }
    .gift_reward, .discriptionBox{
        font-size: 12px;
    }
    
    
    .headerBox {
        display: flex;
        align-items: center;
        grid-column-gap: 10px;
        background: #5b5b69;
        padding: 5px 10px;
        border-top: 3px dashed #888888;
        
        .point-column {
            width: 100%;
            
            h6{
                font-size: 13px;
                color: #ffffff;
            }
            
            p{
                font-size: 12px;
                line-height: 20px;
                color: #dbdbdb;
            }
            
            &:last-child{
                text-align: right;
            }
        }
        
    }
    
    .my-points {
        background: #f8f8f8;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        p {
            display: flex;
            align-items: center;
            grid-column-gap: 10px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            
            i {
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #dfdfdf;
                border-radius: 8px;
                color: #353535;
            }
        }
        
        
        h1{
            font-size: 18px;
            font-weight: bold;
        }
    }
    
    .card-box {
        padding: 5px 10px 0px;
        
        .card-info {
            
            h5{
                font-size: 14px;
                line-height: 22px;
                font-weight: bold;
                
                
                span{
                    font-size: 14px;
                    color: #636262;
                    font-weight: 500;
                }
            }
            
            p{
                font-size: 13px;
                line-height: 22px;
            }
        }
    }
    
    
    .progressBar {
        width: 100%;
        height: 20px;
        background: #ffffff;
        border-radius: 20px;
        margin: 5px 0px;
        position: relative;
        
        
        .progressValue{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #11998e;
            background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
            background: linear-gradient(to right, #38ef7d, #11998e);
            border-radius: 20px;

            
            
            span{
                color:black;
                padding: 0 5px;
                line-height: 20px;
                font-size: 12px;
                font-weight: 500;
                white-space: nowrap;
               
            }
        }
        
    }
    
    .required-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
        p{
            font-size: 12px;
        }
    }
    
    
    .highlight{
        background: #e3e3e3;
        padding: 5px 10px;
        margin: 8px -16px 0px;
        padding: 5px 16px;
    }

}
